{% extends "base.html" %}

{% block title %}
    My cart
{% endblock title %}

{% block content %}
    <div class="row">
    	<div class="col-md-8">
    		<h4>Items in my Cart</h4>
    		<table class='table'>
    			<thead>
    				<tr>
    					<th>SN</th>
    					<th>Product</th>
    					<th>Rate</th>
    					<th>Quantity</th>
    					<th>Subtotal</th>
    					<th>Action</th>
    				</tr>
    				<tbody>
    					{% for c in cart.cartproduct_set.all %}
    					<tr>
    						<td> {{forloop.counter}} </td>
    						<td>{{ c.product.title }}</td>
    						<td> {{c.rate}} </td>
    						<td> {{c.quantity}} </td>
    						<td> {{c.subtotal}} </td>
    						<td>
    							<a href=" {% url 'ecommerceapp:managecart' c.id %}?action=inc" class="btn btn-primary"> + </a>
    							<a href="{% url 'ecommerceapp:managecart' c.id %}?action=dcr" class="btn btn-warning"> - </a>
    							<a href="{% url 'ecommerceapp:managecart' c.id %}?action=rmv" class="btn btn-danger"> x </a>
    						</td>
    					</tr>
    					{% endfor %}
    					<tr>
    						<th colspan="4" class="text-right">Total</th>
    						<th> {{cart.total}} FCFA </th>
    						<th>
    							{% if cart.cartproduct_set.all %}
    							    <a href="{% url 'ecommerceapp:emptycart' %}" class="btn btn-danger"> Empty Cart </a>
    							{% endif %}
    							
    						</th>

    					</tr>
    					{% if cart.cartproduct_set.all %}
    					        					<tr>
    						<th colspan="4" class="text-right">
    							<a href=" {% url "ecommerceapp:checkout"%} " class="btn btn-info">Checkout</a>
    						</th>
    					</tr>
    					
    					{% endif %}

    				</tbody>
    			</th
    		</table>
    	</div>
    </div>
{% endblock content %}